button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

li {
  font-size: 20px;
}

textarea {
  width: 100%;
  margin: 1em 0;
  padding: 0.5em;
  font-size: 1em;
  border: solid 2px #e1e3e8;
  border-radius: 4px;
  resize: none;
}

textarea:focus {
  border-color: #56a9ff;
  outline: 0;
}

.container {
  display: flex;
}

.memo-index {
  margin-right: 30px;
}

.memos {
  list-style: none;
}

.memo {
  margin-bottom: 10px;
}

.memo-content {
  color: #3399ff;
  text-decoration: underline;
}

.fs-2 {
  font-size: 20px;
}

.form-button {
  display: flex;
  justify-content: center;
}

.btn--blue,
button.btn--blue {
  padding: 5px 10px;
  color: #fff;
  background-color: #0066cc;
  margin: 0px 5px;
}

.btn--blue:hover,
button.btn--blue:hover {
  color: #fff;
  background: #3366cc;
}

button.btn--radius {
  border-radius: 100vh;
}

.login-button {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  margin: auto;
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 0.3rem;
  border-bottom: 7px solid #0686b2;
  background: #27acd9;
  color: #fff;
}
.login-button:hover {
  margin-top: 6px;
  border-bottom: 1px solid #0686b2;
  color: #fff;
}
